{% extends "basic.html" %}
{% block body %}
<td width="940px">
<p class="article-title" align="left"><singleline label="Title">{{ title }}</singleline></p>
<div class="article-content" align="left">
	<multiline label="Description"> {{ MESSAGETEXT }}
	{#{ lookermail.detailTable(traveler_core_kpi,class="gradienttable",width="940px") }#}
	{{ looker(json_detail=traveler_core_kpi).asHTML(theme='gradienttable') }}

	If there are discrepant totals, or anomalies of any kind or you have any other questions please reach out to our team via one of the contact links on this message. 
	<a href="mailto:{{ replyto | urlencode }}?Subject={{ title | urlencode }}">contact us</a>.
	</multiline>

</div>
</td>
{% endblock %}